body {
width:100%;
background-color: grey;
}

#maincontainer {
	display:none;
	border: 1px solid red;
	margin: 10px auto;
	position: relative;
	top: 150px;
}

#timer, #score {
	border: 1px solid black;
}

#cat {

	left: 0;
	top: 0;
	position:relative;
	transform: scaleX(-1);
	width: 100px;
}

#message {
	margin: 10px auto;
	text-align: justify;
	background-color: rgba(255, 255, 255, 0.5);

}

#word {
	margin: 10px auto;
	background-color: rgba(255, 255, 255, 0.5);
}

#input {
	margin: 10px auto;
}

#timer, #score {
	background-color: rgba(255, 255, 255, 0.5);
}

#timer-word, #score-word {
	text-align: left;
	padding: 0px;
}

p {

	font-weight: 700;
}

#homemessage{
	color: black;
	text-align: center;
	font-family: monospace;
	font-weight: bold;
	font-size: 3em;
	margin: 0 auto;
}

img {

}

.heart {
	width: 30px;
}

.col-4 {
	padding: 0px;
}

#lives {
	margin: 20px auto;
}

#checkmark{
	width: 30px;
	margin: 0 5px;
}

#myBar {
  width: 0%;
  height: 30px;
  background-color: #4CAF50;
  text-align: center;
  line-height: 30px;
  color: white;
}

button{
	font-size: 10em;
	color: black;
}